a {
    color: black;
    text-decoration: none;
}

img { 
    padding-top: 10px;
}

#book {
    margin-bottom: 100px;
}

#topMenu {
    height: 30px;
    width: 770px;
    position: relative;
    background-color: #2d2d2d;
    margin: 0 auto;
}

#topMenu  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#topMenu ul li {
    color: white;
    background-color: #2d2d2d;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

.menuLink, .submenuLink {
    text-decoration:none;
    color: white;
    display: block;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
}

.menuLink {
    color: white;
}

.topMenuLi:hover .menuLink {
    color: red;
    background-color: #4d4d4d;
}

.longLink {
    width: 190px;
}

.submenuLink {
    color: #2d2d2d;
    background-color: #dddddd;
}

.submenu {
    position: absolute;
    height: 0px;
    overflow: hidden;
    transition: height .2s;
    width: 770px;
    left: 0;

    background-color: #dddddd;
}

.submenu li {
     display: inline-block;
} 

.topMenuLi:hover .submenu {
    height: 32px;
} 

.submenuLink:hover {
    color: red;
    background-color: #dddddd;
}

#article{
    padding-top: 50px;
    text-align: center;
}

.menu ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}

.menu a{
    line-height: 50px;
  height: 50px;
}

.menu a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.menu li:last-child a{
    border-right: 0;
}


.menu a#pull{
    display: none;
}


.clearfix ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

.clearfix li{
    display: inline-block;
}
    
.clearfix li a{
    color: #2d2d2d;
    text-align: center;
    padding: 14.5px 16px;  
    text-decoration: none;
}
    
.clearfix li a:hover{
    color: red;      
    font-weight:normal;
}

.menu {
    font-size: 12pt;
    font-family: 'PT Sans', Arial, Sans-serif;
    position: relative;
    width: 5000px;
    height: 50px;
    text-align: center;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;z-index: 1;
}